.downmenutwo {
   // list-style:none;
    display: inline-block;
    background-color: #5d2216 ;
    padding:30px;
    text-align: center;
    height: 100px;
    width: 100%;
}
.downmenutwo li {
    padding:2px 8px 2px 8px;
    color:#A0A0A0 ;
    text-align:left;
    float:left;
}
.downmenutwo li a {
    text-decoration:none;
    color:#A0A0A0;
   }