.disc-item-header {
    display:flex;
    align-items:center;
    border-radius:4px;
    background-color:var(--darkRow-bg-color);
    height:2em;
    font-weight: bold;
}
.disc-item-row-light,
.disc-item-row-dark {
    display:flex;
    align-items:center;
    border-bottom:1px solid var(--border-color);
    border-radius:4px;
    height:2.2em;
}
.disc-item-row-dark {
    background-color:var(--darkRow-bg-color);
}
.disc-item-row-light {
    background-color : var(--liteRow-bg-color);
}
.disc-add-button{
    background-color : var(--darkRow-bg-color);
    line-height:30px;
}
.disc-item-action-light {
    background-color : var(--liteRow-bg-color);
    border:1px solid var(c);
}
.disc-item-action-dark {
    background-color:var(--darkRow-bg-color);
}
.disc-item-action-light, .disc-item-action-dark {
    border:0px!important;
    text-align:center;
}
.disc-add-row {
    display:flex;
    align-items:center;
    border-top:1px solid #bbb;
    height:2.2em;
}
.customer-dialog-row {
    display:flex;
    align-items:center;
    height:3em;
    text-transform: uppercase;
}
.modalCloseButton {
    float:right;
}
.payAmt {
    float:right;
    border-radius: 4px;
    border : 1px solid var(--border-color-dark);
    background-color: var(--darkRow-bg-color);
    width:100%;
    text-align: center;
    padding:10px;
}
.mixedPayHd, .mixedPayDt {
    padding:0px 2px;
}
.balAmt {
    border-radius: 4px;
    border : 1px solid var(--border-color-dark);
    background-color: var(--darkRow-bg-color);
    text-align: center;
    padding:10px;    
}
.close-button{
    float: right;
    top:-20px;
    right:-20px;
}

.close-icon {
transition: 1s ease-in-out;
}

.close-icon:hover {
transform: rotate(180deg);
}
.form-control.lowHeight {
    padding:3px 6px;
    height:1.75em;
}
.orderTitleRow{
    display:flex;
    align-items:center;
    border-radius:4px;
    height:2.4em;
    font-weight: bold;
    //border:1px solid var(--border-color);
    background-color:#33b0ff;//var(--darkRow-bg-color);
    color:white;
}
.refundTotalRow {
    display:flex;
    align-items:center;
    border-radius:4px;
    height:2.4em;
    font-weight: bold;
    border:1px solid #061dec;
}