
    
   
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div style="border-bottom:1px solid #CCC;">
   				<h3 style="color:#000000;">Uppada Soft Silk  Uppada Saree - SFFUS0004</h3> 
   			</div> 
   			<div style="padding-top:10px;padding-bottom:10px;">
   				
				<div style="color:#000;font-size:22px;font-weight:bold;display:inline-block;">INR:&nbsp;1550</div>
				<div style="color:#999;font-size:16px;display:inline-block;">+ Free Shipping</div>
			</div> 
  			<div style="pading-top:10px;padding-bottom:10px;font-size:14;color:#32CD32;font-weight:bold;"> Available in Stock </div>
  			
  			<div style="font-size:12px;color:#99F;padding-top:10px;padding-bottom:10px;">Product will be shipped in 2 - 3 days</div>
  			<div style="padding-top:10px;font-size:12px;color:#AAA;">
  				
  					<div style="padding-top:5px;padding-bottom:5px;font-size:14px;color:#A29;">Uppada Soft Silk Half Fine Model Allover Meena Embose Brocade Saree, Body Color Dark Olive Green, Blouse Color Dark Red & Rich Pallu</div>
  				
				<div style="padding-top:5px;padding-bottom:5px;">Accessories shown in the image is just for photography purpose and not a part of the product.</div>
				<div style="padding-bottom:5px;">Slight color Variation is possible due to photo lighting conditions and rendering.</div>
  			</div>