<div class="col-md-12 col-sm-12 col-xs-6 myFooter">
      <ul class="downmenutwo">
            <li><a href="commonPages.jsp?pageName=privacypolicy" style="color:#fff; font-weight:bold;">Privacy Policy </a></li>
            <li><a href="commonPages.jsp?pageName=contactus" style="color: #fff;font-weight:bold;">Shipping Policy </a></li>
            <li><a href="commonPages.jsp?pageName=contactus" style="color: #fff;font-weight:bold;">Refund Policy </a></li>
            <li><a href="commonPages.jsp?pageName=privacypolicy" style="color: #fff;font-weight:bold;">Contactus </a></li>
            <li><a href="commonPages.jsp?pageName=contactus" style="color: #fff;font-weight:bold;">AboutUs </a></li>
      </ul>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 techDifficulty" >
    If you are experiencing technical difficulties, please email mahisfashionparadise@gmail.com
</div>        
<div class="col-md-12 col-sm-12 col-xs-12 copyRtAndPoweredBy">
    <div class="col-md-6 col-sm-6 copyRt">
         <p>Copyright 2017 Mahis Fashion Paradise. All rights reserved</p>
    </div>
    <div class="col-md-6 col-sm-6 poweredBy">
        <h3>Powered by Sheetal Shastri</h3>
    </div>
</div>
