.downmenutwo {
   // list-style:none;
    display: inline-block;
    //padding:30px;
    text-align: center;
    width: 100%;
    list-style-type: none;
    margin-bottom:0px;
}
.downmenutwo li {
    padding:2px 8px 2px 8px;
    color:#1c07dd;//#A0A0A0 ;
    text-align:left;
    float:left;
    font-weight:bold;
}
.downmenutwo li a {
    text-decoration:none;
    color:#1c07dd;//#A0A0A0;
}
.myFooter {
    height: 100px;
    display:flex;
    align-items:center;
    background-color: var(--darkRow-bg-color);//#a1aef5;//7d4d00 ;
}
.techDifficulty {
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    //border-top:1px solid #A0A0A0;
}
.copyRtAndPoweredBy {
    display:flex;
    align-items:center;
    background-color:var(--darkRow-bg-color);//7d4d00
}
.copyRt {
    //margin:0px;
    //width:100%;
    //padding:1px;
    color:#1c07dd;//#EEEEEE;
    text-align:left;
    font-size:12px;
}
.copyRt > p {
    margin:0px;
}
.poweredBy {
    //margin:0px;
    //width:100%;
    //padding:5px;
    color:#1c07dd;//#CCCCCC;
    text-align:right;
    font-size:16px;
    font-family:Blackadder ITC;
}