.dshbrdTile {
  height:6em;
  background-color: #eeeeee;
  border-radius: 3px;
  border:1px solid #cccccc;
}
.dshbrdTile > h4 {
  font-size:16px;
  color:gray;
}
.dshbrdTile > h6 {
  font-size:18px;
  color:gray;
  font-weight: bold;
}
.row {
  margin:0 auto;
}