.dshbrdTile {
  height:6em;
  background-color: #eeeeee;
  border-radius: 3px;
  border:1px solid #cccccc;
}
.dshbrdTile > h4 {
  font-size:16px;
  color:gray;
}
.dshbrdTile > h6 {
  font-size:18px;
  color:gray;
  font-weight: bold;
}
.row {
  margin:0 auto;
}
.nav.nav-tabs>li {
  width:20%;
  text-align:center;
}
.btn.btn-custom.date-range {
  white-space:normal;
  line-height:1;
  height:3em;
  margin-left:4px;
  word-wrap:break-word;
}
.btn.btn-custom.chart-toggle {
  height:3em;
  margin-left:4px;
}