.hiddenActions {
    display:none;
}

.prodRow:hover .hiddenActions {
    display:block;
    width:fit-content;
}

.prodListHeadTitle {
    margin:30px 0px 5px 0px;
}
.prodListHeadAction {
    display:flex;
    align-items:middle;
}