.no-style .ng-valid {
border-left: 1px  solid #CCC
}

.no-style .ng-invalid {
border-left: 1px  solid #CCC
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.alert {
    padding:5px;
    margin-bottom:0px;
}
.middleAligned {
    display:flex;
    align-items:center;
}
.noMarginBottom {
    margin-bottom:0px;
}