<div class="container">
  <div style="width:100%;">
  <h2>Product Details</h2>
  
  <div [hidden]="!modelObj.isPromptMessage" class="promptMessage">
    <p> {{ modelObj.promptMessage }} </p>
  </div>
  <form (ngSubmit)="onSubmit()" #productDetails="ngForm">
    <div class="row">
      <div class="col-sm-4">
        <ul class="nav nav-tabs nav-stacked">
          <li class="active"><a data-toggle="tab" href="productDetails/#generalTab">General Details</a></li>
          <li><a data-toggle="tab" href="productDetails/#priceTab">Price</a></li>          
          <li><a data-toggle="tab" href="productDetails/#inventoryTab">Inventory</a></li>
          <li><a data-toggle="tab" href="productDetails/#sizeTab">Size/Dimension</a></li>
          <li><a data-toggle="tab" href="productDetails/#additionalTab">Additional</a></li>
        </ul>
      </div>
      <div class="col-sm-8">
        <div class="tab-content">
          <div id="generalTab" class="tab-pane fade in active">
            <div class="form-group row middleAligned">
              <div class="col-sm-3">
                <label class="noMarginBottom" for="sku">SKU</label>
              </div>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="sku" required [(ngModel)]="modelObj.productDetails.sku" name="sku" #sku="ngModel">
                <div [hidden]="sku.valid || sku.pristine" class="alert alert-danger col-sm-9">
                    SKU is required
                </div>
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="title" class="col-sm-3">Title</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="title" required [(ngModel)]="modelObj.productDetails.title" name="title" #title="ngModel">
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger col-sm-9">
                  Title is required
                </div>
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="category" class="col-sm-3">Category</label>
              <div  class="col-sm-9">
                <select class="form-control" id="category" required [(ngModel)]="modelObj.productDetails.category" 
                    name="category" #category="ngModel">
                    <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
                </select>
                <div [hidden]="category.valid || category.pristine" class="alert alert-danger">
                Category is required
                </div>
              </div>
            </div>
          </div>
          <div id="priceTab" class="tab-pane fade">
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="regularPrice" class="col-sm-3">Regular Price</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="regularPrice" required [(ngModel)]="modelObj.productDetails.regularPrice" 
                name="regularPrice" #regularPrice="ngModel">
                <div [hidden]="regularPrice.valid || regularPrice.pristine" class="alert alert-danger col-sm-9">
                    Regular Price is required
                </div>
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="onSale" class="col-sm-3">On Sale</label>
              <div class="col-sm-9">
                  <input type="radio" class="radio-control" id="onSaleYes" [(ngModel)]="modelObj.productDetails.onSale" 
                  name="onSale" value="true"
                  (change)="modelObj.productDetails.onSale=='false'?modelObj.productDetails.salePrice='':null"> 
                  <label class="noMarginBottom" for="onSaleYes" style="padding-right:20px;">Yes</label>
                  <input type="radio" class="radio-control" id="onSaleNo" [(ngModel)]="modelObj.productDetails.onSale" 
                  name="onSale" value="false" 
                  (change)="modelObj.productDetails.onSale=='false'?modelObj.productDetails.salePrice='':null">
                  <label class="noMarginBottom" for="onSaleNo">No</label>
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="salePrice" class="col-sm-3">Sale Price</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="salePrice" name="salePrice" #salePrice="ngModel" 
                [disabled]="modelObj.productDetails.onSale=='false'?true:null" [(ngModel)]="modelObj.productDetails.salePrice">
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="costPrice" class="col-sm-3">Cost Price</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="costPrice" required [(ngModel)]="modelObj.productDetails.costPrice" 
                name="costPrice" #costPrice="ngModel">
                <div [hidden]="costPrice.valid || costPrice.pristine" class="alert alert-danger col-sm-9">
                    Regular Price is required
                </div>
              </div>
            </div>            
          </div>
          <div id="inventoryTab" class="tab-pane fade">
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="manageStock" class="col-sm-3">Manage Stock</label>
              <div class="col-sm-9">
                  <input type="radio" class="radio-control " id="manageStockYes" [(ngModel)]="modelObj.productDetails.manageStock" 
                  name="manageStock" value="true"> 
                  <label class="noMarginBottom" for="manageStockYes" style="padding-right:20px;">Yes</label>
                  <input type="radio" class="radio-control" id="manageStockNo" [(ngModel)]="modelObj.productDetails.manageStock" 
                  name="manageStock" value="false">
                  <label class="noMarginBottom" for="manageStockNo">No</label>
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="stockQty" class="col-sm-3">Stock Quantity</label>
              <div  class="col-sm-9">
                <input type="text" ng-disabled="modelObj.productDetails.manageStock" class="form-control" id="stockQty" 
                [disabled]="modelObj.productDetails.manageStock=='false'?true:null" [(ngModel)]="modelObj.productDetails.stockQty" 
                name="stockQty" #stockQty="ngModel">
                <div [hidden]="stockQty.valid || stockQty.pristine" class="alert alert-danger">
                  Stock Quantity is required if manage stock is yes
                </div>
              </div>
            </div>
          </div>
          <div id="sizeTab" class="tab-pane fade">
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="prodSize" class="col-sm-3">Size</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="prodSize" [(ngModel)]="modelObj.productDetails.size" 
                name="prodSize" #prodSize="ngModel">
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="dimensions" class="col-sm-3">Dimensions</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="dimensions" [(ngModel)]="modelObj.productDetails.dimensions" 
                name="dimensions" #dimensions="ngModel">
              </div>
            </div>
          </div>          
          <div id="additionalTab" class="tab-pane fade">
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="dealerBillId" class="col-sm-3">Dealer Bill ID</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="dealerBillId" [(ngModel)]="modelObj.productDetails.dealerBillId" 
                name="dealerBillId" #dealerBillId="ngModel">
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="tags" class="col-sm-3">Tags</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="tags" [(ngModel)]="modelObj.productDetails.tags" 
                name="tags" #tags="ngModel">
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="imageCount" class="col-sm-3">Image Count</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="imageCount" [(ngModel)]="modelObj.productDetails.imageCount" 
                name="imageCount" #imageCount="ngModel">
              </div>
            </div>
            <div class="form-group row middleAligned">
              <label class="noMarginBottom" for="description" class="col-sm-3">Description</label>
              <div  class="col-sm-9">
                <input type="text" class="form-control" id="description" [(ngModel)]="modelObj.productDetails.description" 
                name="description" #description="ngModel">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>          
    <div style="padding:20px;"></div>
    <div [hidden]="productActionObj.action=='' || productActionObj.action=='view'">
      <button type="submit" class="btn btn-success" [disabled]="!productDetails.form.valid">{{getButtonPrompt()}}</button>
    </div>
  </form>
</div>
<div style="padding:20px;"></div>
</div>  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->