<mat-grid-list cols="4" rowHeight="1:2" gutterSize ="5px">
    <mat-grid-tile><a href="zoompage" style="text-decoration:none;color:#000000;">
      <div style="text-align:center;">
          <img src="./assets/images/SFFSR0040.jpg" alt="set" width="80%" height="80%">
          <h5 style="font-weight:bold;text-align:center;">Uppada Soft Silk </h5>
          <h5 style="color:#000000;text-align:center;"><strong>INR:</strong>&nbsp;&nbsp;<strong>1550;</strong></h5>		
      </div></a></mat-grid-tile>
      <mat-grid-tile><a href="zoompage" style="text-decoration:none;color:#000000;">
        <div style="text-align:center;">
            <img src="./assets/images/SFFSR0044.jpg" alt="set" width="80%" height="80%">
            <h5 style="font-weight:bold;text-align:center;">Uppada Soft Silk </h5>
          <h5 style="color:#000000;text-align:center;"><strong>INR:</strong>&nbsp;&nbsp;<strong>1550;</strong></h5>	
        </div></a></mat-grid-tile>
        <mat-grid-tile><a href="saree" style="text-decoration:none;color:#000000;">
            <div style="text-align:center;">
                <img src="./assets/images/SFFSR0042.jpg" alt="set" width="80%" height="80%">
                <h5 style="font-weight:bold;text-align:center;">Uppada Soft Silk </h5>
          <h5 style="color:#000000;text-align:center;"><strong>INR:</strong>&nbsp;&nbsp;<strong>1550;</strong></h5>	
            </div></a></mat-grid-tile>
            <mat-grid-tile><a href="saree" style="text-decoration:none;color:#000000;">
                <div style="text-align:center;">
                    <img src="./assets/images/SFFSR0043.jpg" alt="set" width="80%" height="80%">
                    <h5 style="font-weight:bold;text-align:center;">Uppada Soft Silk </h5>
          <h5 style="color:#000000;text-align:center;"><strong>INR:</strong>&nbsp;&nbsp;<strong>1550;</strong></h5>	
                </div></a></mat-grid-tile>