@media print {
    @page { size: portrait; }
}
html, body {
    height: 99%;
    -webkit-print-color-adjust:exact !important;
}
.middleAligned {
    display:flex;
    align-items:center;
}
.insrtPgBrk {
    page-break-after: always;
}
.insrtHdrMargin {
    margin-top:18%;
}
.order-row{
    border-radius:4px;height:2.4em;
    line-height:2.4em;
    border:1px solid #b0defa;
}
.order-row:nth-child(odd){background-color:#e5f4fd !important;}
.order-row:nth-child(even){background-color:#ffffff !important;}
.order-row.order-header {
    font-weight:bold;
}
.order-amt-cell {
    text-align:right;
    padding-right:20px;
}
.amt-label-cell{
    text-align:right;
}
.pmnt-dtls-section,.pmnt-dtls-header{
    text-align:center;font-weight:bold;
}