@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

:root {
    --darkRow-bg-color : #e5f4fd;
    --liteRow-bg-color : #ffffff;
    --border-color : #b0defa;
}
.noPadding {
    padding:0px;
}
.noMargin {
    margin:0px;
}
.floatRt {
    float:right;
}
.floatLt {
    float:left;
}