@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

:root {
    --darkRow-bg-color : #e5f4fd;
    --liteRow-bg-color : #ffffff;
    --border-color : #b0defa;
    --border-color-dark : #115AFA;
}
.noPadding {
    padding:0px;
}
.noMargin {
    margin:0px;
}
.floatRt {
    float:right;
}
.floatLt {
    float:left;
}
.borderBox {
    border-radius: 2px;
    border: 1px solid var(--border-color);
    background-color: var(--darkRow-bg-color);
}
.boxNoBorder {
    border-radius: 2px;
    //border: 1px solid var(--border-color);
    background-color: var(--darkRow-bg-color);
}
.no-style .ng-valid {
    border-left: 1px  solid #CCC
}

.no-style .ng-invalid {
    border-left: 1px  solid #CCC
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
.alert {
    padding:5px;
    margin-bottom:0px;
}
.middleAligned {
    display:flex;
    align-items:center;
}
.noMarginBottom {
    margin-bottom:0px;
}
.nonBold {
    font-weight: normal;
}
.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}
.squareTileImg {
    height:200px;
    width:200px;
    object-fit: cover;
}
.squareTileImg150 {
    height:150px;
    width:150px;
    object-fit: cover;
}
.dashboardTabs>.nav-tabs>li.active>a {
    background-color: #eee !important;
    margin-right:0 !important;
}
.dashboardTabs>.nav-tabs>li>a {
    border:1px solid #ddd;
    border-radius:4px 4px 0 0;
    margin-right:0 !important;
    border-bottom-color:transparent;
}
.dashboardTabs>.nav-tabs>li {
    margin-bottom:0 !important;
}
.mat-form-field-wrapper {
    padding-bottom:0 !important;
}
.mat-form-field-underline {
    bottom:0;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top:0.25em !important;
}