.order-header-row {
    display:flex;
    align-items:center;
    border-radius:4px;
    background-color:var(--darkRow-bg-color);
    height:2.4em;
    font-weight:bold;
}
.order-pay-now-row {
    display:flex;align-items:center;
    background-color:#33b0ff;//var(--darkRow-bg-color);
    border-radius:4px;
    color:white;
    height:2.4em;
}
.summary-btn {
    border:0px;
    padding:2px 10px;
    background-color: #b0defa;
}
.order-item-container {
    padding:0px;
    overflow-y:auto;
    height:61vh;
}
.order-summary-container {
    padding:0px;
    overflow-y:auto;
    height:24vh;
}
.search-result {
    background: var(--liteRow-bg-color);
    position: absolute;
    width: 94%;
    box-sizing: border-box;
    border: 1px solid #e9edf0;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 30px 45px -10px rgba(0,0,0,.2);
    z-index: 999;
}
.search-result ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    max-height: 200px;
    overflow: scroll;
}
.search-result ul li {
    line-height:2em;
    margin:auto;
    padding:0px;
    padding-left:10px;
    cursor:context-menu;
}
.summaryRows, .itemRows {
    display:flex;
    align-items:center;
    border-radius:4px;
    height:2.4em;
    border:1px solid var(--border-color);
}
.summaryRows:nth-child(odd),
.itemRows:nth-child(odd),
.search-result ul li:nth-child(odd) {
    background-color:var(--darkRow-bg-color);
}
.summaryRows:nth-child(even),
.itemRows:nth-child(even),
.search-result ul li:nth-child(even) {
    background-color:var(--liteRow-bg-color);
    border:1px solid var(--border-color);
}
.productsContainer {
    overflow-y:auto;
    height:85vh;
}
.products {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:space-around;
}
.productTile-content {
    width:100%;
}
.productTile-content img {
    width:100px; 
    height:100px;
    object-fit: cover;
}

.productTile {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:0px;
    text-align:center;
}
.product-tile-sku {
    text-align:center;
    font-weight:bold;
    padding:0px 0px;
}
.productTile:hover .add-product-icon {
    visibility: visible;
}
.add-product-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    padding-top:35%;
    background: rgba(0,0,0,.3);
    visibility: hidden;
}
.input-group-addon {
    background-color:var(--darkRow-bg-color);
    border:1px solid var(--border-color);
}
#productSrchStr, #customerSrchStr {
    border: 1px solid var(--border-color);
}