<div id="myPosContainer" style="width:100%;padding-top:10px;" (click)="onClickOutSide($event)">
<div class="container" style="width:100%;">
    <div style="padding:10px"></div>
    <div class="row middleAligned">
        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon"><i style="color:gray;font-size:1.25em;" class="glyphicon glyphicon-search"></i></span>
                <input id="productSrchStr" type="text" class="form-control" name="productSrchStr" 
                placeholder="Enter Product SKU to search" [(ngModel)]="modelObj.productSrchStr" #productSrchStr="ngModel"
                (input)="searchProduct()" (focus)="productSrchFocus=true" (change)="scanProduct()">
                <span class="input-group-addon"  style="color:gray;font-size:1.25em;" (click)="scanMode=false">
                    <img src='/assets/images/keyboard.svg'>
                </span>
                <span class="input-group-addon" (click)="scanMode=true">
                    <i style="color:gray;font-size:1.25em;" class="glyphicon glyphicon-barcode"></i>
                </span>
            </div>
            <div class="input-group search-result" *ngIf="productSrchFocus && !scanMode">
                <ul>
                    <li *ngFor="let s of productSuggests; index as i" (click)="onProductSelect(s.indexInArray)">
                        {{s.sku}} {{s.title}} {{s.regularPrice}}
                    </li>
                </ul>
            </div>            
        </div>
        <div class="col-sm-2">
            <div class="col-sm-5 borderBox">
                <span class="input-group-addon" style="border:0px;padding:7px 12px;"><i style="color:gray;font-size:1.25em;" class="glyphicon glyphicon-list"></i></span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5 borderBox">
                <span class="input-group-addon" style="border:0px;padding:7px 12px;"><i style="color:gray;font-size:1.25em;" class="glyphicon glyphicon-th"></i></span>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="input-group">
                <span class="input-group-addon"><i style="color:gray;font-size:1.25em;" class="glyphicon glyphicon-user"></i></span>
                <input id="customerSrchStr" type="text" class="form-control" name="customerSrchStr" 
                placeholder="Enter Customer Name to search" [(ngModel)]="modelObj.customerSrchStr" #customerSrchStr="ngModel"
                (input)="searchCustomer()" (focus)="customerSrchFocus=true">
                <span class="input-group-addon" (click)="openCustomerDialog()"><i style="color:gray;font-size:1.25em;" class="glyphicon glyphicon-plus"></i></span>                
                <!-- <input type="text" [formControl]="typeahead" placeholder="Type ahead !" (input)="suggest()">-->
            </div>
            <div class="input-group search-result" *ngIf="customerSrchFocus">
                <ul>
                    <li *ngFor="let s of customerSuggests; index as i" (click)="onCustomerSelect(s.indexInArray)">
                        {{s.firstName}} {{s.lastName}} {{s.phone}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding:10px"></div>
</div>
<div class="container" style="width:100%;">
    <div class="row">
        <div class="col-md-7 productsContainer">
            <div class="row">
                <div class="col-xs-4 col-md-3 col-lg-2 col-xl-2 productTile" *ngFor="let product of modelObj.products; index as i">
                    <div class="productTile-content">
                    <a  role="button" (click)="onProductClick(i)">
                        <img src="./assets/images/productImages/{{product.sku}}.jpg">
                        <div class="product-tile-sku">{{product.sku}}</div>
                    </a>
                    <span style="color:white;font-size:2em;" class="add-product-icon glyphicon glyphicon-plus" role="button" (click)="onProductClick(i)">
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="divToPrint" class="col-md-5">
            <div class="col-sm-12 order-item-container">
                <div class="col-sm-12 order-header-row" >
                    <div class="col-sm-6" style="color:blue;">Product</div>
                    <div class="col-sm-1" style="color:blue;padding:0px;text-align:center;">Qty</div>
                    <div class="col-sm-2" style="color:blue;text-align:center;">Price</div>
                    <div class="col-sm-1" style="color:blue;"></div>
                    <div class="col-sm-1" style="color:blue;"></div>
                    <div class="col-sm-1" style="color:blue;"></div>
                </div>
                <div class="col-sm-12 itemRows" *ngFor="let orderItem of modelObj.orderDetails.orderItems; index as j">
                    <div class="col-sm-6">{{orderItem.sku}}</div>
                    <div class="col-sm-1" style="text-align:center;">{{orderItem.itemQty}}</div>
                    <div class="col-sm-2" style="text-align:right;">₹ {{orderItem.itemTotal}}</div>
                    <div class="col-sm-1 glyphicon glyphicon-plus-sign"
                        style="color:green;font-size:1.25em;" role="button" (click)="updateOrderItem(j,'add')">
                    </div>
                    <div class="col-sm-1 glyphicon glyphicon-minus-sign" 
                        style="color:blue;font-size:1.25em;" role="button" (click)="updateOrderItem(j,'subtract')">
                    </div>
                    <div class="col-sm-1 glyphicon glyphicon-remove-sign" 
                        style="color:red;font-size:1.25em;" role="button" (click)="updateOrderItem(j,'delete')">
                    </div>  
                </div>
            </div>
            <div class="col-sm-12 order-summary-container">
                <div class="col-sm-12 summaryRows">
                    <div class="col-sm-6"><strong>SubTotal</strong></div>
                    <div class="col-sm-6" style="text-align:right;"><strong>₹ {{modelObj.orderDetails['grossAmt']}}</strong></div>
                </div>
                <div class="col-sm-12 summaryRows gradient-buttons">
                    <div class="col-sm-3">
                        <button class="btn summary-btn" 
                        (click)="openDiscountFeeDialog()" [disabled]="modelObj.orderDetails['grossAmt']>0?false:true">Discount or Fee</button>
                    </div>
                    <div class="col-sm-9" style="text-align:right;">
                        <span style="color:blue"><strong>Fee: ₹ {{modelObj.orderDetails['feeAmt']}}  </strong></span> 
                        <span style="color:green"><strong>Discount: ₹ {{modelObj.orderDetails['discountAmt']}}</strong></span>
                    </div>
                </div>
                <div class="col-sm-12 summaryRows gradient-buttons">
                    <div class="col-sm-8">
                        <input id="orderNote" type="text" class="form-control" name="orderNote" style="height:2em;" 
                        placeholder="Enter Order Note here" [(ngModel)]="modelObj.orderDetails['orderNote']">
                    </div>
                    <div class="col-sm-4">
                        <input id="overRideOrderDate" type="text" class="form-control" name="overRideOrderDate"  style="height:2em;"
                        [placeholder]="currDate()" [(ngModel)]="modelObj.orderDetails['overRideOrderDate']"
                        (change)="validateAttribute('overRideOrderDate')">
                        <div [hidden]="validOverRideDate" class="alert alert-danger cdk-overlay-pane">
                            Invalid Date!
                        </div>
                    </div>
                </div>                
                <div class="col-sm-12 order-pay-now-row" role="button" (click)="openPayNowDialog()">
                    <div class="col-sm-6"><strong>Pay Now</strong></div>
                    <div class="col-sm-6" style="text-align:right;"><strong>₹ {{modelObj.orderDetails['netAmt']}}</strong></div>
                </div>                                
            </div>
        </div>        
    </div>
</div>
</div>