<div class="shadowBox" style="margin:8px;">
  <div class="col-sm-12 busObjListHeadTitle">
      <h2 class="noMargin">{{modelObj.businessObjDispNm}} List</h2>
  </div>
  <div class="col-sm-12 busObjListHeadAction">
      <div class="col-sm-4">
          <div [hidden]="!modelObj.isPromptMessage" class="promptMessage">
              <p> {{ modelObj.promptMessage }} </p>
          </div>
      </div>
      <div class="col-sm-4">
          <div class="middleAligned" style="justify-content: center;"> 
              <div class="glyphicon glyphicon-step-backward" role="button" style="color:gray;font-size:2em;" (click)="pageAction('first', modelObj)"></div>
              <div class="glyphicon glyphicon-chevron-left" role="button" style="color:gray;font-size:2em;" (click)="pageAction('prev', modelObj)"></div>
              <div class="" style="line-height: 2em;"> {{modelObj.currPage}} of {{modelObj.totalPages}} </div>
              <div class="glyphicon glyphicon-chevron-right" role="button" style="color:gray;font-size:2em;" (click)="pageAction('next', modelObj)"></div>
              <div class="glyphicon glyphicon-step-forward" role="button" style="color:gray;font-size:2em;" (click)="pageAction('last', modelObj)"></div>
          </div>
      </div>
      <div class="col-sm-4 gradient-buttons">
          <button type="submit" class="btn btn-custom floatRt" style="color:black;background-color:lightgray;" (click)="openDialog('Create',-1)">New {{modelObj.businessObjDispNm}}</button>
      </div>
  </div>
  <table class="table table-striped table-hover">
      <thead class="thead-light">
          <tr>
              <th *ngFor="let column of modelObj.displayColumnNames;index as i;" class="sortable" 
              role="button" (click)="toggleSort(i,column.colNm)" scope="col">{{column.dispNm}}
                  <div class="glyphicon" 
                  [ngClass]="{'glyphicon-arrow-up light': (modelObj.sortCol[i].sort==false)}"></div>
                  <div class="glyphicon" [ngClass]="{'glyphicon-arrow-down': 
                      (modelObj.sortCol[i].sort && modelObj.sortCol[i].order=='A'),
                      'glyphicon-arrow-up' : 
                      (modelObj.sortCol[i].sort && modelObj.sortCol[i].order=='D')}">
                  </div>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="busObjRow" *ngFor="let businessObj of modelObj.businessObjs;index as i;">
              <td *ngFor="let column of modelObj.displayColumnNames;index as j;">
              <div [ngClass]="{'amtClass':modelObj.businessObjs[i].getAttrMetaInfo(column.colNm).dataType=='Number'?true:false}">
                  {{businessObj[column.colNm]=='FALSE'?'No':businessObj[column.colNm]=='TRUE'?'Yes':businessObj[column.colNm]}}
                  <div *ngIf="j==0" class="hiddenActions cdk-overlay-pane actionBox">
                  <ul>
                      <li *ngFor="let action of businessObj.getDialogActions();"><a role="button" (click)="openDialog(action, i)">{{action}}</a></li>
                      <!--<li><a style="color:green;" role="button" (click)="openDialog('View', i)">View</a></li>
                      <li><a style="color:blue;" role="button" (click)="openDialog('Update', i)">Edit</a></li>
                      <li><a style="color:red;" role="button" (click)="openDialog('Delete', i)">Delete</a></li>-->
                  </ul>
                  </div>
                </div>
              </td>
          </tr>
      </tbody>
  </table>
</div>